<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso de Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.HospitalSanPedro"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SignosVitales"
            android:exported="false" />
        <!-- Splash screen (pantalla de inicio) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Registro de enfermeras -->
        <activity android:name=".RegisterActivity" /> <!-- Inicio de sesión -->
        <activity android:name=".LoginActivity" /> <!-- Pantalla principal (dashboard de enfermera) -->
        <activity android:name=".MainActivity" /> <!-- Pantalla de pacientes -->
        <!-- Pantalla de agregar signos vitales -->
        <activity android:name=".AddVitalsActivity" />
    </application>

</manifest>